
<div class="row my-4">
    <div class="col-2">
        <button class="btn btn-outline-primary  float-right" (click)="onAddProfile()">
            Добавить пользователя
        </button>
    </div>
    <div class="col-8">
        <input
        type="text"
        class="form-control"
        placeholder="Найти сотрудника"
        [(ngModel)]="searchStr"
        />
    </div>

</div>
<app-user-table
    [title]="'IT отдел'"
    [typeS]="0" 
    [searchStroke]="searchStr"
    >
</app-user-table>

<app-user-table
    [title]="'Отдел продаж'"
    [typeS]="1"
    [searchStroke]="searchStr" 
    >
</app-user-table>

<app-user-table
    [title]="'Отдел доставки'"
    [typeS]="2" 
    [searchStroke]="searchStr"
    >
</app-user-table>

<app-user-table
    [title]="'Юриди'"
    [typeS]="3" 
    [searchStroke]="searchStr"
    >
</app-user-table>